apiVersion: apps/v1    
kind: Deployment    
metadata:    
  name: hello-tekton
  namespace: default
  labels:    
    app: hello-tekton
spec:    
  replicas: 2    
  selector:    
    matchLabels:    
      app: hello-tekton     
  strategy:    
    rollingUpdate:    
      maxSurge: 25%    
      maxUnavailable: 25%    
    type: RollingUpdate
  template:    
    metadata:
      labels:    
        app: hello-tekton
        version: V2
    spec:    
      containers:    
      - image: index.docker.io/hkdocker1702/hk-docker-repo:462c1ac0c9329fde9ff234457834356e18bcd907    
        imagePullPolicy: Always    
        name: hello-tekton
        ports:
        - containerPort: 80 
          protocol: TCP
      imagePullSecrets:    
      - name: regcred
